/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GUNZIP_one' {
        ext.args = '-d'
        publishDir = [
            path: { "${params.outdir}/annotation_uncompressed1" },
            mode: params.publish_dir_mode,
            pattern: '*.{fa,fna,fasta}'
        ]
    }

    withName: 'FILTER_one' {
        ext.args = '--sequence_type genome'
        publishDir = [
            [
                path: { "${params.outdir}/filter1/filtered" },
                mode: params.publish_dir_mode,
                pattern: '*.fa'
            ]
        ]
    }

    withName: 'GUNZIP_compress' {
        publishDir = [
            path: { "${params.outdir}/annotation_compressed_filtered1" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz'
        ]
    }

    withName: 'PRODIGAL' {
        ext.args = '-p meta'

        publishDir = [
            path: { "${params.outdir}/annotation_prodigal" },
            mode: params.publish_dir_mode,
            pattern: '*.fna.gz'
        ]
    }

    withName: 'GUNZIP_two' {
        ext.args = '-d'
        publishDir = [
            path: { "${params.outdir}/annotation_uncompressed2" },
            mode: params.publish_dir_mode,
            pattern: '*.fna'
        ]
    }

    withName: 'FILTER_two' {
        ext.args = '--sequence_type gene'

        publishDir = [
            [
                path: { "${params.outdir}/filter2/filtered" },
                mode: params.publish_dir_mode,
                pattern: '*.fa'
            ]
        ]
    }

    withName: 'CDHIT_CDHIT' {
        ext.args = '-c 0.95 -aS 0.9 -g 1 -d 0'
        publishDir = [
            path: { "${params.outdir}/cdhit" },
            mode: params.publish_dir_mode,
            pattern: '*.fasta'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
